﻿@model ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/AuthLayout.cshtml";
    ViewBag.Title = "RelayWorks™ | Restore password";
}



<div class="sign-in">
    <div class="panel panel-default sign-in-panel">
        <div class="panel-body">
            <div class="logo"></div>
            @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group email-input">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                <div class="blue-line">
                </div>

                <div class="form-group">
                    <p class="form-control-static">
                        Please enter your email<br> to reset the password.
                    </p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-send" onclick="$(this).addClass('disabled');">Submit</button>
                </div>

            }
        </div>
    </div>
    <div class="sign-in-item">
        <div class="row">
            <div class="col col-md-6  text-center padding-top-10 padding-bottom-10">
                <a href="@Url.Action("Login")" class="forgot-password">
                    <span>sign in</span>
                </a>
            </div>
            <div class="col col-md-6 col-sm-12 text-center padding-top-10 padding-bottom-10">
                <a href="@Url.Action("ForgottenPassword")" class="forgot-password">
                    <span class="active">forgot password</span>
                </a>
            </div>
        </div>
    </div>
</div>