﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-gb">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />

    <title>@ViewBag.Title</title>

    <link href="~/Content/styles/Enterprise.Auth.css" rel="stylesheet"/>

    <script src="~/Content/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/js/relay/sign-in/sign_in.js"></script>

    @RenderSection("head", required: false)
</head>

<body>
    @Html.Partial("_LoadingAnimation")

    <div class="ih-button" onclick="window.open('http://ihandover.co', '_blank');"></div>
    <div class="auth-center-block">
        <div class="container text-center">
            @RenderBody()
        </div>
    </div>

    <div class="footer">
        <div class="row container">
            <div class="col-sm-4">
                <a href="https://twitter.com/ihandover" target="_blank">
                    <div class="circle circle-blue"></div>
                </a>
                <a href="https://www.linkedin.com/company/2378457" target="_blank">
                    <div class="circle circle-brown"></div>
                </a>
            </div>
            <div class="col-sm-4">
                <div class="label center-block">© iHandover Ltd.  @DateTime.Now.Year</div>
            </div>
            <div class="col-sm-4">
                <div class="center-block"><a href="http://ihandover.co/" class="label link" target="_blank">www.ihandover.co</a></div>
            </div>
        </div>
    </div>

    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <script>
            !function ()
            {
                var e = document.createElement("script"), t = document.getElementsByTagName("script")[0];
                e.async = 1, e.src = "https://inlinemanual.com/embed/player.b096c1f1b425366738994c518c23a207.js", e.charset = "UTF-8", t.parentNode.insertBefore(e, t)
            }();

        </script>


        <script type="text/javascript" src="//userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/ca70fe79ead573c22498afd242242af57b34031685d3e9e40dfcbbc8c3936461.js"></script>
    }

    
</body>

</html>